{include file="public/header" /} {include file="public/lefter" /}
{css href="__PLUG__/bootstrap-table/bootstrap-table.css" /}
{css href="__PUBLIC__/static/css/table.css" /}
<style type="text/css">
	.fixed-table-container {   
    border: 0px solid #dddddd  !important; 
    border-bottom: 1px solid #dddddd  !important;  
}
</style>
<div class="container-fluid box-a">
	<div class="nav-c">
		<span class="glyphicon glyphicon-tag">&nbsp;</span><span>分类管理</span>
	</div>

	<box class="box-b">		
		<div class="divs">
			<div id="toolbar">
				<a role="button" href="{:URL('/admin/authgroup/add')}" type="button" class="btn btn-primary">添加用户组</a>
			</div>
			<div class="table-responsive" data-show-refresh="true">
				<table id="table">
				</table>
			</div>
		</div>
	</box>
</div>
<!--<a class="btn btn-xs btn-success" href="/index.php/admin/netset/bak/tp/dowonload/name/20160517154306.sql.html">下载</a>-->


{include file="public/flooter" /}
{js href="__PLUG__/bootstrap-table/bootstrap-table.js" /}
{js href="__PLUG__/bootstrap-table/locale/bootstrap-table-zh-CN.js" /}
{js href="__PLUG__/bootstrap-table/extensions/export/bootstrap-table-export.js" /}
{js href="__PLUG__/bootstrap-table/extensions/export/tableExport.js" /}



<script type="text/javascript">
    var $table = $('#table');
    $(document).ready(function() {    	
		$('#addsort').click(function() {
			var str_data = $(".formsort").serialize();
			$.ajax({
				type: "get",
				url: "addsort",
				data: str_data,
				success: function(msg) {					
					layer.alert(msg);
					retable();
				}
			});
			return false;
		});		
	});
    
    
	$(document).ready(function() {		
		$table.bootstrapTable({
			classes: 'table',
			paginationPreText: '上一页',
			paginationNextText: '下一页',
			pageSize:10,
			pagination: true,			
			searchOnEnterKey: true,
			showColumns: true,
			showRefresh: true,
			showToggle: true,
			showPaginationSwitch: true,
			idField: 'uid',
			showexport: true,
			uniqueId: 'uid',
			toolbar: '#toolbar',			
			sidePagination: 'server',
			url: '__ROOT__/admin/authgroup/grouplist',
			columns: [{
				field: 'id',
				title: 'ID',
				visible:true,
				align: 'left'
			}, {
				field: 'title',
				title: '名称',
				editable: true,				
				align: 'left'
			},{
				field: 'description',
				title: '说明',
				editable: true,
				align: 'center'
			},{
				field: 'status',
				title: '状态',
				editable: true,
				formatter: statu,
				align: 'center'
			},{
				field: 'op',
				title: '操作',				
				editable: true,
				formatter: oper,
				align: 'center'
			},],
		});

		function oper(value, row, index) {			
			
			var gid = row.id;
			var status=row.status;			
			var opdata = '<a href="__ROOT__/admin/authgroup/edit?group_id=' + gid +'" title="设置" role="button" style="margin-right: 5px" type="button" class="btn btn-xs btn-icon"><i class="fa fa-cog"></i></a>';
			    if (status!=0) {
			    	opdata += '<div style="margin-right: 5px" type="button" title="停用" class="btn btn-xs btn-on" onclick="gset(\'stop\',\'' + gid + '\')"><i class="fa fa-toggle-on"></i></div>';			    	
			    } else{
			    	opdata += '<div style="margin-right: 5px" type="button" title="启用" class="btn btn-xs btn-off" onclick="gset(\'start\',\'' + gid + '\')"><i class="fa fa-toggle-off"></i></div>';			    	
			    }
				opdata += '<div style="margin-right: 5px" type="button" class="btn btn-xs btn-del" onclick="gset(\'del\',\'' + gid + '\')"><i class="fa fa-trash"></i></div>';			    	

			
			return opdata;
		}
        
		function statu(value, row, index) {
			var index = '<span>已启用</span>';
			if(value < 1){
				index = '<span style="color:#CC0000">已停用</span>';
			}
			return index;
		}
	});

	function gset(sets,gid) {
		var $table = $('#table');
		if(sets=='stop' || sets=='start'){						
			$.get("__ROOT__/admin/authgroup/set", {
				gset: sets,
				gid: gid,
			}, function(response) {
				//$table.bootstrapTable('removeByUniqueId', uid);//
				$table.bootstrapTable('refresh', {silent: true});
				if (response) {					
					layer.msg(response);
				} else {
                    layer.alert('操作失败！请重试！');					
				}
			});			
		}
		if(sets=='del'){
			layer.confirm('<i style="color:#FF6633" class="icon-warning-sign icon-2x"></i> 是否删除?', {
                btn: ['确定','取消'] //按钮
            }, function(){
            	delsort(gid);           
            }, function(){           	
            });
		}	
	}
    function delsort(gid){
		var $table = $('#table');
		$.get("__ROOT__/admin/authgroup/set", {
			gset: 'del',
			gid: gid,
		}, function(response) {
			$table.bootstrapTable('refresh', {silent: true});
			if (response) {					
				layer.msg(response);
			} else {
                layer.alert('操作失败！请重试！');					
			}
		});
	}
    function retable(index, layero){
    	$table.bootstrapTable('refresh', {silent: true});
    }
</script>

