{include file="public/header" /} {include file="public/lefter" /}
{css href="__PLUG__/bootstrapvalidator/css/bootstrapValidator.min.css" /}
<div class="container-fluid box-a">
	<div class="nav-c">
		<span class="glyphicon glyphicon-tag">&nbsp;</span><span>邮件设置</span>
	</div>
	<box class="box-b">
		<div class="divs" class="col-sm-6">
			<div class="page-header page-s">
				<h1>邮件设置<small></small></h1>				
			</div>
			<form id="form" class="form-horizontal" action="" method="post">
				<div class="form-group">
					<label for="inputnetname" class="col-sm-3 col-md-3 col-lg-2 control-label">SMTP服务器</label>
					<div class="col-sm-8 col-md-5 col-lg-3">
						<input type="text" name="host" class="form-control" placeholder="smtp.163.com" value="{$mail['host']}" />
					</div>
				</div>
				<div class="form-group">
					<label for="inputnetname" class="col-sm-3 col-md-3 col-lg-2 control-label">端口</label>
					<div class="col-sm-8 col-md-5 col-lg-3">
						<input type="text" name="port" class="form-control" placeholder="465或25" value="{$mail['port']}" />
					</div>
				</div>
				<div class="form-group">
					<label for="inputnetname" class="col-sm-3 col-md-3 col-lg-2 control-label">邮箱用户名</label>
					<div class="col-sm-8 col-md-5 col-lg-3">
						<input type="text" name="username" class="form-control" placeholder="xxx@163.com" value="{$mail['username']}" />
					</div>
				</div>
				<div class="form-group">
					<label for="inputnetname" class="col-sm-3 col-md-3 col-lg-2 control-label">授权密码</label>
					<div class="col-sm-8 col-md-5 col-lg-3">
						<input type="password" name="password" class="form-control" placeholder="授权密码" value="{$mail['password']}" />
					</div>
				</div>
				<div class="form-group">
					<label for="inputnetname" class="col-sm-3 col-md-3 col-lg-2 control-label">发件人邮箱</label>
					<div class="col-sm-8 col-md-5 col-lg-3">
						<input type="text" name="replyemali" class="form-control" placeholder="发件人邮箱" value="{$mail['replyemali']}" />
					</div>
				</div>
				<div class="form-group">
					<label for="inputnetname" class="col-sm-3 col-md-3 col-lg-2 control-label">发件人名称</label>
					<div class="col-sm-8 col-md-5 col-lg-3">
						<input type="text" name="replyuser" class="form-control" placeholder="发件人名称" value="{$mail['replyuser']}" />
					</div>
				</div>
								
				<div class="form-group">
					<div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-2 col-sm-8 col-md-5 col-lg-3">
						<button id="sub" type="submit" style="width: 80px;height: 40px;" class="btn btn-primary">保&nbsp;存</button>
					</div>
				</div>
				
			</form>

		</div>
	</box>
</div>
{include file="public/flooter" /}

<script type="text/javascript">
$(function(){
	$('#sub').click(function(){	
	    var str_data = $("#form").serialize();        
        $.ajax({   	
		    type: "POST",
		    url: "",
		    data: str_data,
		    success: function(msg) {			
			    layer.msg(msg);
		    }
	    });
	    return false;	
   });	
});
</script>